.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  background-image: url('FocusViewBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.CircularProgressWithLabel .Typography-root {
  color: #FFF !important;
}


.App-link {
  color: #afb9bc;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Target LineChart container */
.LineChart-container {
  /* Set background color to white */
  background-color: #FFF;
}

/* Target SVG elements inside LineChart */
.LineChart-container svg {
  /* Set stroke color of lines to white */
  stroke: #FFF;
}

/* Target text elements inside LineChart */
.LineChart-container text {
  /* Set fill color of text to white */
  fill: #000000;
}
